extends /astley.js/src/templates/layout.pug

block style
  link(
    href="https://fonts.googleapis.com/css?family=Teko:400"
    rel="stylesheet"
    )

block pageId
  #index

block content
  hero.hero.columns
    .bg
    .content.column1
      h1 Introducing Ethical Crowdfunding
      p Hanzo repairs the broken relationship between creators and backers by re-writing the social contract of crowdfunding - through smart contracts.
    .content.column2
      a.button.demo
        | SEE THE DEMO
      a.button.whitepaper
        span READ THE WHITE PAPER

  section#how-it-works.columns
    .bg
    .content.column1
      h1 How it works
      p
        img(src='/img/how-it-works-goals.svg')
        span Creators set their own goals and milestones with the smart contract
      p
        img(src='/img/how-it-works-fund.svg')
        span Backers fund creative projects and get updates as milestones are met
      p
        img(src='/img/how-it-works-perks.svg')
        span Backers receive PERK tokens for each project they support and use these for rewards or trade them with other backers for different perks.
      p
        img(src='/img/how-it-works-rip.svg')
        span Failed projects are partially refunded with the RYO. Backers can use RYO to contribute to other projects.
      p
        img(src='/img/how-it-works-win.svg')
        span Successful creators are able to build and grow their business on Hanzo even after their crowdfunding campaign is over, so the community they have built stays with them as they grow their company.
    .content.column2.green-shrink
      h3 Who wins and how?
      h4 CREATORS
      p Creators have access to the most powerful analytics and marketing tools available to crowdfunded products. They are able to leverage these tools and the new, more transparent relationship with backers to build a community that has real buy-in to what they are building.
      h4 BACKERS
      p Backers get to continue supporting products they are excited about, but without the fear of big failures down the line. They are also brought into details about the development that they wouldn’t otherwise get, which only serves to build their support and excitement about the product.

  section#cutting-edge.columns


block script
  script(src='/js/app.js?v=#{ version }')

block analytics
  script.
    !function(t,e,a){var
    r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var
    e;return
    e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return
    u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//cdn.hanzo.io/a/#{ id }.js");

